@charset "utf-8";
ol li {
  text-indent: -9999px;
}
ol li:nth-child(1) {
  background: url('/html/img/img1.gif?1394796721') no-repeat center center;
}
ol li:nth-child(2) {
  background: url('/html/img/img2.gif?1394796721') no-repeat center center;
}
ol li:nth-child(3) {
  background: url('/html/img/img3.gif?1394796721') no-repeat center center;
}
ol li:nth-child(4) {
  background: url('/html/img/img4.gif?1394796721') no-repeat center center;
}
ol li:nth-child(5) {
  background: url('/html/img/img5.gif?1394796721') no-repeat center center;
}
